        .btn{
            Width:150px;
            height: 40px;
            font-size: 18px;
            margin:5px;
            background-color: yellow;
            border-radius: 50px;
            cursor:pointer;
           
        }
        .btn1{
            Width:150px;
            height: 40px;
            font-size: 18px;
            margin:5px;
            background-color: blue;
            border-radius: 50px;
            cursor:pointer;
            
        }
        .btn2{
            Width:150px;
            height: 40px;
            font-size: 18px;
            margin:5px;
            background-color:red;
            border-radius: 50px;
            cursor:pointer;
        }
        .btn3{
            Width:150px;
            height: 40px;
            font-size: 18px;
            margin:5px;
            background-color: gray;
            border-radius: 50px;
            cursor:pointer;
        }
        .btn4{
            Width:150px;
            height: 40px;
            font-size: 18px;
            margin:5px;
            background-color: purple;
            font-weight: bolder;
            border-radius: 50px;
            cursor:pointer;
            text-color:white;
            border-color: black;
        }
        .btn5{
            Width:150px;
            height: 40px;
            font-size: 18px;
            margin:5px;
            background-color: greenyellow;
            border-radius: 50px;
            cursor:pointer;
            
            font-weight: bold;
        }
        #search
        {
            width:60%;
            max-width: 500px;
            padding:12px 20px;
            font-size :18px;
            border-radius:20px;
            border:2px solid red;
            margin-bottom: 50px;
            margin-top: 30px;
            width:60%;
            font-size: 16px;
        }
        body
        {
            background-image: url("background.png");
            background-size:cover ;
            background-position: center;
            background-repeat:no-repeat;
            background-attachment: fixed;
            min-height: 100vh;
            margin:0;
            color:white;
        }
